@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.quest {
    font-family: 'Gothic A1', sans-serif;
    width: 50vh;
    height: 20%;
    border: 3px solid gray;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

span {
    margin: 10px;
    margin-top: 20px;
}

button {
    border: 0;
    outline: 0;
    margin: 5px;
}